<h1>Customer Details</h1>
<div class="card p-4 m-4">
<table>
        <tr>
            <td class="p-2">Customer Id</td><td>{{ customerDetails._id }}</td>
        </tr>
        <tr>
            <td class="p-2">First Name</td><td>{{customerDetails.firstName}}</td>
        </tr>
        <tr>
            <td class="p-2">Last Name</td><td>{{customerDetails.lastName}}</td>
        </tr>
        <tr>
            <td class="p-2">Phone</td><td>{{customerDetails.phoneNumber}}</td>
        </tr>
        <tr>
            <td class="p-2">Email Address</td><td>{{customerDetails.emailAddress}}</td>
        </tr>
        <tr>
            <td class="p-2">dob</td><td>{{customerDetails.dob}}</td>
        </tr>
        <tr>
            <td class="p-2">Department</td><td>{{customerDetails.department}}</td>
        </tr>
</table>
</div>